{# templates/student/add.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Add a author</h1>

    {{ form_start(f) }}

    <table class="table" >
      
        
        <tr>
            <td>{{ form_label(f.username) }}</td>
            <td>{{ form_widget(f.username) }}</td>
        </tr>
         <tr>
            <td>{{ form_label(f.email) }}</td>
            <td>{{ form_widget(f.email) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(f.nb_books) }}</td>
            <td>{{ form_widget(f.nb_books) }}</td>
        </tr>

    </table>

    <button type="submit" class="btn btn-primary">Add Book</button>

    {{ form_end(f) }}
{% endblock %}
